.api_card{
    width: 320px;
    height: 521px;
border-radius: 10px;
background: rgb(255, 255, 255);
margin: 30px 0px 0px 0px ;
}

.api_card_header{
    height: 40%;
    border-top-left-radius: 10px;border-top-right-radius: 10px;
}
.Football{
    background: url("../../images/football.jpg") no-repeat center  ; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}
.Basketball{
    background: url("../../images/basketball.jpg") no-repeat center  ; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}
.Tennis{
    background: url("../../images/tennis.jpg") no-repeat center  ; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}
/* .Football::after{
    content: '';
    position: absolute;
    left: 0;top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.486);
    border-top-left-radius: 10px;border-top-right-radius: 10px;

} */
.api_card_header-row{
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    color:white;
    padding: 13px 0px 0px 0px ;
}
.api_card_body_title{
    font-size: 23px;
    font-weight: 700;
    text-align: center;
    margin: 40px 0px 0px 0px ;
}
.api_card_body_date > span,.api_card_body_time>span,.api_card_body_place > span, .api_card_body_contact >span{
    margin: 0px 5px 0px 0px ;
}

.api_card_body_date,.api_card_body_time,.api_card_body_place,.api_card_body_contact{
    font-size: 16px;
    margin: 30px 0px 0px 0px ;
}
.api_card_body_place{
    margin: 30px 0px 0px 0px ;
}
.api_card_body_delete{
    font-size: 16px;
    margin: 15px 0px 0px 0px ;
    padding: 8px;
    border-radius: 2px;
    background: #ff7043;
}
.api_card_body_delete:active{
    background: #ff7043;
}
@media(max-width:1300px){
    .api_card{
margin: 30px 0px 0px 0px ;
    }}

@media(max-width:675px){
    .api_card{
margin: 30px 0px 0px 0px ;
    }}

    @media(max-width:340px){
        .api_card_header-row{
          padding: 13px 5px 0px 5px ;
            justify-content: space-between;
           
        }
    }